n8n-workflows/task-1.6-ff-inbound-sms-alert.json
{"updatedAt":"2026-03-04T11:57:17.361Z","createdAt":"2026-03-04T11:57:17.361Z","id":"O7KJlZrNOoZtUfB6","name":"FF Inbound SMS Alert — Task 1.6","description":null,"active":true,"isArchived":false,"nodes":[{"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[0,300],"parameters":{"httpMethod":"POST","path":"ff-inbound-sms","responseMode":"onReceived","options":{}}},{"id":"filter-inbound","name":"Is Direction Inbound?","type":"n8n-nodes-base.if","typeVersion":2,"position":[240,300],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"direction-check","leftValue":"={{ $json.body.record.direction }}","rightValue":"inbound","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}},{"id":"lookup-lead","name":"Lookup Lead Name","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,200],"parameters":{"method":"GET","url":"https://wrsoacujxcskydlzgopa.supabase.co/rest/v1/fightflow_form_submissions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc29hY3VqeGNza3lkbHpnb3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTYwNTIxMSwiZXhwIjoyMDY1MTgxMjExfQ.DfHr_M1BFep1LVWpGSDfpMeb0vXqi17Y_VXoax96CvI"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc29hY3VqeGNza3lkbHpnb3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTYwNTIxMSwiZXhwIjoyMDY1MTgxMjExfQ.DfHr_M1BFep1LVWpGSDfpMeb0vXqi17Y_VXoax96CvI"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"=eq.={{ $('Webhook').item.json.body.record.phone }}"},{"name":"select","value":"first_name,last_name"},{"name":"limit","value":"1"}]},"options":{"response":{"response":{"neverError":true}}}}},{"id":"send-telegram","name":"Send Telegram Alert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,200],"parameters":{"method":"POST","url":"https://api.telegram.org/bot8426038205:AAFS5_4HTJWmdU_4fwo2uwPAhO06L9riVkg/sendMessage","sendBody":true,"contentType":"json","body":{"chat_id":1687128792,"text":"={{ '📱 Fight Flow Inbound SMS\nFrom: ' + ($('Lookup Lead Name').item.json[0]?.first_name || 'Unknown') + ' ' + ($('Lookup Lead Name').item.json[0]?.last_name || '') + ' (' + $('Webhook').item.json.body.record.phone + ')\nMessage: ' + $('Webhook').item.json.body.record.message }}"}}},{"id":"no-action","name":"No Action (Outbound)","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[480,450],"parameters":{}}],"connections":{"Webhook":{"main":[[{"node":"Is Direction Inbound?","type":"main","index":0}]]},"Is Direction Inbound?":{"main":[[{"node":"Lookup Lead Name","type":"main","index":0}],[{"node":"No Action (Outbound)","type":"main","index":0}]]},"Lookup Lead Name":{"main":[[{"node":"Send Telegram Alert","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"d01fdc5d-3927-4c0d-a20f-029b61b88053","activeVersionId":"d01fdc5d-3927-4c0d-a20f-029b61b88053","versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2026-03-04T11:57:17.363Z","createdAt":"2026-03-04T11:57:17.363Z","role":"workflow:owner","workflowId":"O7KJlZrNOoZtUfB6","projectId":"ORThLukXaeWIsGJ4","project":{"updatedAt":"2026-03-03T23:06:23.898Z","createdAt":"2026-03-03T23:06:18.715Z","id":"ORThLukXaeWIsGJ4","name":"Scott Johnson <scott@sparkwave-ai.com>","type":"personal","icon":null,"description":null,"creatorId":"5a66e50f-b249-45a6-a150-2df29f34ca2e"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-04T11:57:17.392Z","createdAt":"2026-03-04T11:57:17.392Z","versionId":"d01fdc5d-3927-4c0d-a20f-029b61b88053","workflowId":"O7KJlZrNOoZtUfB6","nodes":[{"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[0,300],"parameters":{"httpMethod":"POST","path":"ff-inbound-sms","responseMode":"onReceived","options":{}}},{"id":"filter-inbound","name":"Is Direction Inbound?","type":"n8n-nodes-base.if","typeVersion":2,"position":[240,300],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"direction-check","leftValue":"={{ $json.body.record.direction }}","rightValue":"inbound","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}},{"id":"lookup-lead","name":"Lookup Lead Name","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,200],"parameters":{"method":"GET","url":"https://wrsoacujxcskydlzgopa.supabase.co/rest/v1/fightflow_form_submissions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc29hY3VqeGNza3lkbHpnb3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTYwNTIxMSwiZXhwIjoyMDY1MTgxMjExfQ.DfHr_M1BFep1LVWpGSDfpMeb0vXqi17Y_VXoax96CvI"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc29hY3VqeGNza3lkbHpnb3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTYwNTIxMSwiZXhwIjoyMDY1MTgxMjExfQ.DfHr_M1BFep1LVWpGSDfpMeb0vXqi17Y_VXoax96CvI"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"=eq.={{ $('Webhook').item.json.body.record.phone }}"},{"name":"select","value":"first_name,last_name"},{"name":"limit","value":"1"}]},"options":{"response":{"response":{"neverError":true}}}}},{"id":"send-telegram","name":"Send Telegram Alert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,200],"parameters":{"method":"POST","url":"https://api.telegram.org/bot8426038205:AAFS5_4HTJWmdU_4fwo2uwPAhO06L9riVkg/sendMessage","sendBody":true,"contentType":"json","body":{"chat_id":1687128792,"text":"={{ '📱 Fight Flow Inbound SMS\nFrom: ' + ($('Lookup Lead Name').item.json[0]?.first_name || 'Unknown') + ' ' + ($('Lookup Lead Name').item.json[0]?.last_name || '') + ' (' + $('Webhook').item.json.body.record.phone + ')\nMessage: ' + $('Webhook').item.json.body.record.message }}"}}},{"id":"no-action","name":"No Action (Outbound)","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[480,450],"parameters":{}}],"connections":{"Webhook":{"main":[[{"node":"Is Direction Inbound?","type":"main","index":0}]]},"Is Direction Inbound?":{"main":[[{"node":"Lookup Lead Name","type":"main","index":0}],[{"node":"No Action (Outbound)","type":"main","index":0}]]},"Lookup Lead Name":{"main":[[{"node":"Send Telegram Alert","type":"main","index":0}]]}},"authors":"Scott Johnson","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-04T11:57:23.564Z","id":9,"workflowId":"O7KJlZrNOoZtUfB6","versionId":"d01fdc5d-3927-4c0d-a20f-029b61b88053","event":"activated","userId":"5a66e50f-b249-45a6-a150-2df29f34ca2e"}]}}