n8n-workflows/task-1.7-fix-ff-appointment-trigger.json
{"updatedAt":"2026-03-04T21:15:11.280Z","createdAt":"2026-03-04T21:15:11.280Z","id":"CuOKnXkpp1MEHNZk","name":"FF Appointment Trigger — Sequence Enrollment (Task 1.7)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"schedule-trigger-1","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[250,300]},{"parameters":{"method":"GET","url":"https://wrsoacujxcskydlzgopa.supabase.co/rest/v1/fightflow_appointments","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc29hY3VqeGNza3lkbHpnb3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTYwNTIxMSwiZXhwIjoyMDY1MTgxMjExfQ.DfHr_M1BFep1LVWpGSDfpMeb0vXqi17Y_VXoax96CvI"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc29hY3VqeGNza3lkbHpnb3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTYwNTIxMSwiZXhwIjoyMDY1MTgxMjExfQ.DfHr_M1BFep1LVWpGSDfpMeb0vXqi17Y_VXoax96CvI"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"status","value":"eq.confirmed"},{"name":"sequence_enrolled","value":"eq.false"},{"name":"select","value":"id,contact_name,contact_email,session_start,service_name"},{"name":"limit","value":"50"}]},"options":{}},"id":"get-unenrolled-1","name":"Get Unenrolled Appointments","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[470,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-len","leftValue":"={{ $json.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"has-unenrolled-1","name":"Has Unenrolled Appointments?","type":"n8n-nodes-base.if","typeVersion":2,"position":[690,300]},{"parameters":{"fieldToSplitOut":"=","options":{}},"id":"split-out-1","name":"Split Appointments","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[910,220]},{"parameters":{"language":"javaScript","jsCode":"const item = $input.item.json;\nconst sessionStart = new Date(item.session_start);\n\nconst steps = [\n  {\n    appointment_id: item.id,\n    contact_id: item.contact_name,\n    template_key: 'pre_class_reminder',\n    scheduled_at: new Date(sessionStart.getTime() - 24 * 60 * 60 * 1000).toISOString(),\n    status: 'pending',\n    sequence_type: 'appointment'\n  },\n  {\n    appointment_id: item.id,\n    contact_id: item.contact_name,\n    template_key: 'post_class_checkin',\n    scheduled_at: new Date(sessionStart.getTime() + 24 * 60 * 60 * 1000).toISOString(),\n    status: 'pending',\n    sequence_type: 'appointment'\n  },\n  {\n    appointment_id: item.id,\n    contact_id: item.contact_name,\n    template_key: 'day3_followup',\n    scheduled_at: new Date(sessionStart.getTime() + 3 * 24 * 60 * 60 * 1000).toISOString(),\n    status: 'pending',\n    sequence_type: 'appointment'\n  },\n  {\n    appointment_id: item.id,\n    contact_id: item.contact_name,\n    template_key: 'week1_checkin',\n    scheduled_at: new Date(sessionStart.getTime() + 7 * 24 * 60 * 60 * 1000).toISOString(),\n    status: 'pending',\n    sequence_type: 'appointment'\n  }\n];\n\nreturn [{ json: { appointment_id: item.id, contact_name: item.contact_name, session_start: item.session_start, sequence_steps: steps } }];"},"id":"compute-seq-1","name":"Compute Sequence Dates","type":"n8n-nodes-base.code","typeVersion":2,"position":[1130,220]},{"parameters":{"method":"POST","url":"https://wrsoacujxcskydlzgopa.supabase.co/rest/v1/fightflow_sequences","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc29hY3VqeGNza3lkbHpnb3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTYwNTIxMSwiZXhwIjoyMDY1MTgxMjExfQ.DfHr_M1BFep1LVWpGSDfpMeb0vXqi17Y_VXoax96CvI"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc29hY3VqeGNza3lkbHpnb3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTYwNTIxMSwiZXhwIjoyMDY1MTgxMjExfQ.DfHr_M1BFep1LVWpGSDfpMeb0vXqi17Y_VXoax96CvI"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"contentType":"json","jsonBody":"={{ JSON.stringify($json.sequence_steps) }}","options":{}},"id":"insert-seq-1","name":"Insert Sequence Steps","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1350,220]},{"parameters":{"method":"PATCH","url":"={{ 'https://wrsoacujxcskydlzgopa.supabase.co/rest/v1/fightflow_appointments?id=eq.' + $('Compute Sequence Dates').item.json.appointment_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc29hY3VqeGNza3lkbHpnb3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTYwNTIxMSwiZXhwIjoyMDY1MTgxMjExfQ.DfHr_M1BFep1LVWpGSDfpMeb0vXqi17Y_VXoax96CvI"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc29hY3VqeGNza3lkbHpnb3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTYwNTIxMSwiZXhwIjoyMDY1MTgxMjExfQ.DfHr_M1BFep1LVWpGSDfpMeb0vXqi17Y_VXoax96CvI"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"contentType":"json","jsonBody":"={ \"sequence_enrolled\": true, \"sequence_enrolled_at\": \"{{ new Date().toISOString() }}\" }","options":{}},"id":"mark-enrolled-1","name":"Mark Sequence Enrolled","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1570,220]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot8426038205:AAFS5_4HTJWmdU_4fwo2uwPAhO06L9riVkg/sendMessage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","jsonBody":"{\"chat_id\":1687128792,\"text\":\"🚨 <b>FF Appointment Trigger FAILED</b>\\n\\nWorkflow: FF Appointment Trigger — Sequence Enrollment (Task 1.7)\\nNode: {{ $execution.lastNodeExecuted }}\\nError: {{ $execution.lastError?.message ?? \\\"Unknown error\\\" }}\\nRun ID: {{ $execution.id }}\\nTime: {{ new Date().toISOString() }}\",\"parse_mode\":\"HTML\"}","options":{}},"id":"telegram-error-1","name":"Send Telegram Error Alert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[910,460]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Unenrolled Appointments","type":"main","index":0}]]},"Get Unenrolled Appointments":{"main":[[{"node":"Has Unenrolled Appointments?","type":"main","index":0}]]},"Has Unenrolled Appointments?":{"main":[[{"node":"Split Appointments","type":"main","index":0}],[]]},"Split Appointments":{"main":[[{"node":"Compute Sequence Dates","type":"main","index":0}]]},"Compute Sequence Dates":{"main":[[{"node":"Insert Sequence Steps","type":"main","index":0}]]},"Insert Sequence Steps":{"main":[[{"node":"Mark Sequence Enrolled","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"9ba1736c-cca6-464e-bc56-be0218b60c27","activeVersionId":"9ba1736c-cca6-464e-bc56-be0218b60c27","versionCounter":4,"triggerCount":1,"shared":[{"updatedAt":"2026-03-04T21:15:11.282Z","createdAt":"2026-03-04T21:15:11.282Z","role":"workflow:owner","workflowId":"CuOKnXkpp1MEHNZk","projectId":"ORThLukXaeWIsGJ4","project":{"updatedAt":"2026-03-03T23:06:23.898Z","createdAt":"2026-03-03T23:06:18.715Z","id":"ORThLukXaeWIsGJ4","name":"Scott Johnson <scott@sparkwave-ai.com>","type":"personal","icon":null,"description":null,"creatorId":"5a66e50f-b249-45a6-a150-2df29f34ca2e"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-04T21:15:11.339Z","createdAt":"2026-03-04T21:15:11.339Z","versionId":"9ba1736c-cca6-464e-bc56-be0218b60c27","workflowId":"CuOKnXkpp1MEHNZk","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"schedule-trigger-1","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[250,300]},{"parameters":{"method":"GET","url":"https://wrsoacujxcskydlzgopa.supabase.co/rest/v1/fightflow_appointments","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc29hY3VqeGNza3lkbHpnb3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTYwNTIxMSwiZXhwIjoyMDY1MTgxMjExfQ.DfHr_M1BFep1LVWpGSDfpMeb0vXqi17Y_VXoax96CvI"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc29hY3VqeGNza3lkbHpnb3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTYwNTIxMSwiZXhwIjoyMDY1MTgxMjExfQ.DfHr_M1BFep1LVWpGSDfpMeb0vXqi17Y_VXoax96CvI"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"status","value":"eq.confirmed"},{"name":"sequence_enrolled","value":"eq.false"},{"name":"select","value":"id,contact_name,contact_email,session_start,service_name"},{"name":"limit","value":"50"}]},"options":{}},"id":"get-unenrolled-1","name":"Get Unenrolled Appointments","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[470,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-len","leftValue":"={{ $json.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"has-unenrolled-1","name":"Has Unenrolled Appointments?","type":"n8n-nodes-base.if","typeVersion":2,"position":[690,300]},{"parameters":{"fieldToSplitOut":"=","options":{}},"id":"split-out-1","name":"Split Appointments","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[910,220]},{"parameters":{"language":"javaScript","jsCode":"const item = $input.item.json;\nconst sessionStart = new Date(item.session_start);\n\nconst steps = [\n  {\n    appointment_id: item.id,\n    contact_id: item.contact_name,\n    template_key: 'pre_class_reminder',\n    scheduled_at: new Date(sessionStart.getTime() - 24 * 60 * 60 * 1000).toISOString(),\n    status: 'pending',\n    sequence_type: 'appointment'\n  },\n  {\n    appointment_id: item.id,\n    contact_id: item.contact_name,\n    template_key: 'post_class_checkin',\n    scheduled_at: new Date(sessionStart.getTime() + 24 * 60 * 60 * 1000).toISOString(),\n    status: 'pending',\n    sequence_type: 'appointment'\n  },\n  {\n    appointment_id: item.id,\n    contact_id: item.contact_name,\n    template_key: 'day3_followup',\n    scheduled_at: new Date(sessionStart.getTime() + 3 * 24 * 60 * 60 * 1000).toISOString(),\n    status: 'pending',\n    sequence_type: 'appointment'\n  },\n  {\n    appointment_id: item.id,\n    contact_id: item.contact_name,\n    template_key: 'week1_checkin',\n    scheduled_at: new Date(sessionStart.getTime() + 7 * 24 * 60 * 60 * 1000).toISOString(),\n    status: 'pending',\n    sequence_type: 'appointment'\n  }\n];\n\nreturn [{ json: { appointment_id: item.id, contact_name: item.contact_name, session_start: item.session_start, sequence_steps: steps } }];"},"id":"compute-seq-1","name":"Compute Sequence Dates","type":"n8n-nodes-base.code","typeVersion":2,"position":[1130,220]},{"parameters":{"method":"POST","url":"https://wrsoacujxcskydlzgopa.supabase.co/rest/v1/fightflow_sequences","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc29hY3VqeGNza3lkbHpnb3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTYwNTIxMSwiZXhwIjoyMDY1MTgxMjExfQ.DfHr_M1BFep1LVWpGSDfpMeb0vXqi17Y_VXoax96CvI"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc29hY3VqeGNza3lkbHpnb3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTYwNTIxMSwiZXhwIjoyMDY1MTgxMjExfQ.DfHr_M1BFep1LVWpGSDfpMeb0vXqi17Y_VXoax96CvI"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"contentType":"json","jsonBody":"={{ JSON.stringify($json.sequence_steps) }}","options":{}},"id":"insert-seq-1","name":"Insert Sequence Steps","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1350,220]},{"parameters":{"method":"PATCH","url":"={{ 'https://wrsoacujxcskydlzgopa.supabase.co/rest/v1/fightflow_appointments?id=eq.' + $('Compute Sequence Dates').item.json.appointment_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc29hY3VqeGNza3lkbHpnb3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTYwNTIxMSwiZXhwIjoyMDY1MTgxMjExfQ.DfHr_M1BFep1LVWpGSDfpMeb0vXqi17Y_VXoax96CvI"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc29hY3VqeGNza3lkbHpnb3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTYwNTIxMSwiZXhwIjoyMDY1MTgxMjExfQ.DfHr_M1BFep1LVWpGSDfpMeb0vXqi17Y_VXoax96CvI"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"contentType":"json","jsonBody":"={ \"sequence_enrolled\": true, \"sequence_enrolled_at\": \"{{ new Date().toISOString() }}\" }","options":{}},"id":"mark-enrolled-1","name":"Mark Sequence Enrolled","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1570,220]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot8426038205:AAFS5_4HTJWmdU_4fwo2uwPAhO06L9riVkg/sendMessage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","jsonBody":"{\"chat_id\":1687128792,\"text\":\"🚨 <b>FF Appointment Trigger FAILED</b>\\n\\nWorkflow: FF Appointment Trigger — Sequence Enrollment (Task 1.7)\\nNode: {{ $execution.lastNodeExecuted }}\\nError: {{ $execution.lastError?.message ?? \\\"Unknown error\\\" }}\\nRun ID: {{ $execution.id }}\\nTime: {{ new Date().toISOString() }}\",\"parse_mode\":\"HTML\"}","options":{}},"id":"telegram-error-1","name":"Send Telegram Error Alert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[910,460]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Unenrolled Appointments","type":"main","index":0}]]},"Get Unenrolled Appointments":{"main":[[{"node":"Has Unenrolled Appointments?","type":"main","index":0}]]},"Has Unenrolled Appointments?":{"main":[[{"node":"Split Appointments","type":"main","index":0}],[]]},"Split Appointments":{"main":[[{"node":"Compute Sequence Dates","type":"main","index":0}]]},"Compute Sequence Dates":{"main":[[{"node":"Insert Sequence Steps","type":"main","index":0}]]},"Insert Sequence Steps":{"main":[[{"node":"Mark Sequence Enrolled","type":"main","index":0}]]}},"authors":"Scott Johnson","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-04T21:15:17.679Z","id":13,"workflowId":"CuOKnXkpp1MEHNZk","versionId":"9ba1736c-cca6-464e-bc56-be0218b60c27","event":"activated","userId":"5a66e50f-b249-45a6-a150-2df29f34ca2e"}]}}