n8n-workflows/task-1.4-ff-immediate-response.json
{"updatedAt":"2026-03-04T11:55:11.352Z","createdAt":"2026-03-04T11:55:11.352Z","id":"wFKY40yanpXjuppd","name":"FF Immediate Lead Response — Fight Flow (Task 1.4)","description":null,"active":true,"isArchived":false,"nodes":[{"id":"node-schedule","name":"Every 5 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,200],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":5}]}}},{"id":"node-fetch-leads","name":"Fetch New Unresponded Leads","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,200],"parameters":{"method":"GET","url":"https://wrsoacujxcskydlzgopa.supabase.co/rest/v1/fightflow_form_submissions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"{{SUPABASE_SERVICE_ROLE_KEY}}"},{"name":"Authorization","value":"Bearer {{SUPABASE_SERVICE_ROLE_KEY}}"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"status","value":"eq.new"},{"name":"auto_responded","value":"eq.false"},{"name":"select","value":"id,first_name,phone,email"}]}}},{"id":"node-has-leads","name":"Has New Leads?","type":"n8n-nodes-base.if","typeVersion":2,"position":[480,200],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-1","leftValue":"={{ $json.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"}}},{"id":"node-split","name":"Loop Over Leads","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[720,100],"parameters":{"batchSize":1,"options":{}}},{"id":"node-has-phone","name":"Has Valid Phone?","type":"n8n-nodes-base.if","typeVersion":2,"position":[960,100],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-phone","leftValue":"={{ $json.phone ? $json.phone.toString().replace(/\\D/g, '').length : 0 }}","rightValue":10,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"}}},{"id":"node-send-sms","name":"Send SMS via Edge Function","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,0],"parameters":{"method":"POST","url":"https://wrsoacujxcskydlzgopa.supabase.co/functions/v1/send-sms","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{SUPABASE_SERVICE_ROLE_KEY}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"to\": \"{{ $json.phone }}\",\n  \"message\": \"Hi {{ $json.first_name }}! Thanks for your interest in Fight Flow Academy. We'd love to get you started. Reply here or call us to set up your free trial class!\"\n}"}},{"id":"node-mark-sms","name":"Mark Contacted (SMS)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,0],"parameters":{"method":"PATCH","url":"=https://wrsoacujxcskydlzgopa.supabase.co/rest/v1/fightflow_form_submissions?id=eq.{{ $('Loop Over Leads').item.json.id }}&auto_responded=eq.false","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"{{SUPABASE_SERVICE_ROLE_KEY}}"},{"name":"Authorization","value":"Bearer {{SUPABASE_SERVICE_ROLE_KEY}}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"auto_responded\": true,\n  \"status\": \"contacted\"\n}"}},{"id":"node-has-email","name":"Has Email?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1200,220],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-email","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"}}},{"id":"node-send-email","name":"Send Email via Resend","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,180],"parameters":{"method":"POST","url":"https://api.resend.com/emails","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{RESEND_API_KEY}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"info@sparkwave-ai.com\",\n  \"to\": \"{{ $('Loop Over Leads').item.json.email }}\",\n  \"subject\": \"Welcome to Fight Flow Academy\",\n  \"html\": \"<p>Hi {{ $('Loop Over Leads').item.json.first_name }},</p><p>Thanks for your interest in <strong>Fight Flow Academy</strong>! We'd love to get you started on your martial arts journey.</p><p>Reply to this email or call us to set up your <strong>free trial class</strong>. We look forward to meeting you!</p><p>– The Fight Flow Academy Team</p>\"\n}"}},{"id":"node-mark-email","name":"Mark Contacted (Email)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,180],"parameters":{"method":"PATCH","url":"=https://wrsoacujxcskydlzgopa.supabase.co/rest/v1/fightflow_form_submissions?id=eq.{{ $('Loop Over Leads').item.json.id }}&auto_responded=eq.false","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"{{SUPABASE_SERVICE_ROLE_KEY}}"},{"name":"Authorization","value":"Bearer {{SUPABASE_SERVICE_ROLE_KEY}}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"auto_responded\": true,\n  \"status\": \"contacted\"\n}"}},{"id":"node-error-alert","name":"Telegram Error Alert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,500],"parameters":{"method":"POST","url":"https://api.telegram.org/bot8426038205:AAFS5_4HTJWmdU_4fwo2uwPAhO06L9riVkg/sendMessage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"chat_id\": 1687128792,\n  \"text\": \"⚠️ <b>Task 1.4 Error</b>\\n\\nFF Immediate Lead Response workflow failed.\\n\\nError: {{ $json.message || 'Unknown error' }}\\n\\nCheck n8n execution logs.\",\n  \"parse_mode\": \"HTML\"\n}"}}],"connections":{"Every 5 Minutes":{"main":[[{"node":"Fetch New Unresponded Leads","type":"main","index":0}]]},"Fetch New Unresponded Leads":{"main":[[{"node":"Has New Leads?","type":"main","index":0}]]},"Has New Leads?":{"main":[[{"node":"Loop Over Leads","type":"main","index":0}],[]]},"Loop Over Leads":{"main":[[{"node":"Has Valid Phone?","type":"main","index":0}]]},"Has Valid Phone?":{"main":[[{"node":"Send SMS via Edge Function","type":"main","index":0}],[{"node":"Has Email?","type":"main","index":0}]]},"Send SMS via Edge Function":{"main":[[{"node":"Mark Contacted (SMS)","type":"main","index":0}]]},"Has Email?":{"main":[[{"node":"Send Email via Resend","type":"main","index":0}],[]]},"Send Email via Resend":{"main":[[{"node":"Mark Contacted (Email)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Every 5 Minutes":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"82c9d539-88c1-485d-bb2a-432709d821e8","activeVersionId":"82c9d539-88c1-485d-bb2a-432709d821e8","versionCounter":4,"triggerCount":1,"shared":[{"updatedAt":"2026-03-04T11:55:11.353Z","createdAt":"2026-03-04T11:55:11.353Z","role":"workflow:owner","workflowId":"wFKY40yanpXjuppd","projectId":"ORThLukXaeWIsGJ4","project":{"updatedAt":"2026-03-03T23:06:23.898Z","createdAt":"2026-03-03T23:06:18.715Z","id":"ORThLukXaeWIsGJ4","name":"Scott Johnson <scott@sparkwave-ai.com>","type":"personal","icon":null,"description":null,"creatorId":"5a66e50f-b249-45a6-a150-2df29f34ca2e"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-04T11:55:11.392Z","createdAt":"2026-03-04T11:55:11.392Z","versionId":"82c9d539-88c1-485d-bb2a-432709d821e8","workflowId":"wFKY40yanpXjuppd","nodes":[{"id":"node-schedule","name":"Every 5 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,200],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":5}]}}},{"id":"node-fetch-leads","name":"Fetch New Unresponded Leads","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,200],"parameters":{"method":"GET","url":"https://wrsoacujxcskydlzgopa.supabase.co/rest/v1/fightflow_form_submissions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"{{SUPABASE_SERVICE_ROLE_KEY}}"},{"name":"Authorization","value":"Bearer {{SUPABASE_SERVICE_ROLE_KEY}}"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"status","value":"eq.new"},{"name":"auto_responded","value":"eq.false"},{"name":"select","value":"id,first_name,phone,email"}]}}},{"id":"node-has-leads","name":"Has New Leads?","type":"n8n-nodes-base.if","typeVersion":2,"position":[480,200],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-1","leftValue":"={{ $json.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"}}},{"id":"node-split","name":"Loop Over Leads","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[720,100],"parameters":{"batchSize":1,"options":{}}},{"id":"node-has-phone","name":"Has Valid Phone?","type":"n8n-nodes-base.if","typeVersion":2,"position":[960,100],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-phone","leftValue":"={{ $json.phone ? $json.phone.toString().replace(/\\D/g, '').length : 0 }}","rightValue":10,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"}}},{"id":"node-send-sms","name":"Send SMS via Edge Function","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,0],"parameters":{"method":"POST","url":"https://wrsoacujxcskydlzgopa.supabase.co/functions/v1/send-sms","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{SUPABASE_SERVICE_ROLE_KEY}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"to\": \"{{ $json.phone }}\",\n  \"message\": \"Hi {{ $json.first_name }}! Thanks for your interest in Fight Flow Academy. We'd love to get you started. Reply here or call us to set up your free trial class!\"\n}"}},{"id":"node-mark-sms","name":"Mark Contacted (SMS)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,0],"parameters":{"method":"PATCH","url":"=https://wrsoacujxcskydlzgopa.supabase.co/rest/v1/fightflow_form_submissions?id=eq.{{ $('Loop Over Leads').item.json.id }}&auto_responded=eq.false","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"{{SUPABASE_SERVICE_ROLE_KEY}}"},{"name":"Authorization","value":"Bearer {{SUPABASE_SERVICE_ROLE_KEY}}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"auto_responded\": true,\n  \"status\": \"contacted\"\n}"}},{"id":"node-has-email","name":"Has Email?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1200,220],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-email","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"}}},{"id":"node-send-email","name":"Send Email via Resend","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,180],"parameters":{"method":"POST","url":"https://api.resend.com/emails","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{RESEND_API_KEY}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"info@sparkwave-ai.com\",\n  \"to\": \"{{ $('Loop Over Leads').item.json.email }}\",\n  \"subject\": \"Welcome to Fight Flow Academy\",\n  \"html\": \"<p>Hi {{ $('Loop Over Leads').item.json.first_name }},</p><p>Thanks for your interest in <strong>Fight Flow Academy</strong>! We'd love to get you started on your martial arts journey.</p><p>Reply to this email or call us to set up your <strong>free trial class</strong>. We look forward to meeting you!</p><p>– The Fight Flow Academy Team</p>\"\n}"}},{"id":"node-mark-email","name":"Mark Contacted (Email)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,180],"parameters":{"method":"PATCH","url":"=https://wrsoacujxcskydlzgopa.supabase.co/rest/v1/fightflow_form_submissions?id=eq.{{ $('Loop Over Leads').item.json.id }}&auto_responded=eq.false","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"{{SUPABASE_SERVICE_ROLE_KEY}}"},{"name":"Authorization","value":"Bearer {{SUPABASE_SERVICE_ROLE_KEY}}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"auto_responded\": true,\n  \"status\": \"contacted\"\n}"}},{"id":"node-error-alert","name":"Telegram Error Alert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,500],"parameters":{"method":"POST","url":"https://api.telegram.org/bot8426038205:AAFS5_4HTJWmdU_4fwo2uwPAhO06L9riVkg/sendMessage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"chat_id\": 1687128792,\n  \"text\": \"⚠️ <b>Task 1.4 Error</b>\\n\\nFF Immediate Lead Response workflow failed.\\n\\nError: {{ $json.message || 'Unknown error' }}\\n\\nCheck n8n execution logs.\",\n  \"parse_mode\": \"HTML\"\n}"}}],"connections":{"Every 5 Minutes":{"main":[[{"node":"Fetch New Unresponded Leads","type":"main","index":0}]]},"Fetch New Unresponded Leads":{"main":[[{"node":"Has New Leads?","type":"main","index":0}]]},"Has New Leads?":{"main":[[{"node":"Loop Over Leads","type":"main","index":0}],[]]},"Loop Over Leads":{"main":[[{"node":"Has Valid Phone?","type":"main","index":0}]]},"Has Valid Phone?":{"main":[[{"node":"Send SMS via Edge Function","type":"main","index":0}],[{"node":"Has Email?","type":"main","index":0}]]},"Send SMS via Edge Function":{"main":[[{"node":"Mark Contacted (SMS)","type":"main","index":0}]]},"Has Email?":{"main":[[{"node":"Send Email via Resend","type":"main","index":0}],[]]},"Send Email via Resend":{"main":[[{"node":"Mark Contacted (Email)","type":"main","index":0}]]}},"authors":"Scott Johnson","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-04T11:55:15.802Z","id":8,"workflowId":"wFKY40yanpXjuppd","versionId":"82c9d539-88c1-485d-bb2a-432709d821e8","event":"activated","userId":"5a66e50f-b249-45a6-a150-2df29f34ca2e"}]}}