n8n-workflows/task-4.1-fightflow-daily-metrics.json
{"updatedAt":"2026-03-04T23:29:41.351Z","createdAt":"2026-03-04T23:29:41.351Z","id":"RWUcQXa9PmVdli6l","name":"FF Daily Metrics (Task 4.1)","description":null,"active":true,"isArchived":false,"nodes":[{"id":"node-schedule","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"2 4 * * *"}]}}},{"id":"node-get-date","name":"Get ET Date","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"parameters":{"jsCode":"// DST-safe ET date using Intl.DateTimeFormat\nconst now = new Date();\nconst etDateStr = new Intl.DateTimeFormat('en-CA', {\n  timeZone: 'America/New_York',\n  year: 'numeric', month: '2-digit', day: '2-digit'\n}).format(now);\n\nfunction getETOffset(d) {\n  const s = d.toLocaleString('en-US', { timeZone: 'America/New_York', timeZoneName: 'shortOffset' });\n  const m = s.match(/GMT([+-]\\d+)/);\n  if (!m) return '-05:00';\n  const h = parseInt(m[1]);\n  return (h < 0 ? '-' : '+') + String(Math.abs(h)).padStart(2,'0') + ':00';\n}\n\nconst offset = getETOffset(now);\nconst startUtc = new Date(etDateStr + 'T00:00:00' + offset).toISOString();\nconst endUtc = new Date(new Date(startUtc).getTime() + 86399999).toISOString();\nconst date = etDateStr;\n\nreturn [{ json: { date, startUtc, endUtc } }];"}},{"id":"node-get-appointments","name":"Get Appointments","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300],"parameters":{"method":"GET","url":"https://wrsoacujxcskydlzgopa.supabase.co/rest/v1/fightflow_appointments","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc29hY3VqeGNza3lkbHpnb3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTYwNTIxMSwiZXhwIjoyMDY1MTgxMjExfQ.DfHr_M1BFep1LVWpGSDfpMeb0vXqi17Y_VXoax96CvI"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc29hY3VqeGNza3lkbHpnb3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTYwNTIxMSwiZXhwIjoyMDY1MTgxMjExfQ.DfHr_M1BFep1LVWpGSDfpMeb0vXqi17Y_VXoax96CvI"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"session_start","value":"=gte.{{ $json.startUtc }}"},{"name":"session_start","value":"=lte.{{ $json.endUtc }}"},{"name":"status","value":"eq.confirmed"},{"name":"select","value":"id,status"}]},"options":{}}},{"id":"node-count-attendance","name":"Count Attendance","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300],"parameters":{"jsCode":"// attended column does not exist — use graceful fallback\n// All confirmed appointments count as attendance_unknown\nconst appointments = $input.all();\nconst totalRows = appointments.length;\n\nlet attended = 0;\nlet no_show = 0;\nlet unknown = totalRows;\n\nif (totalRows > 0 && 'attended' in appointments[0].json) {\n  // attended column exists\n  attended = appointments.filter(r => r.json.attended === true).length;\n  no_show = appointments.filter(r => r.json.attended === false).length;\n  unknown = appointments.filter(r => r.json.attended === null || r.json.attended === undefined).length;\n}\n\nconst dateNode = $('Get ET Date').first().json;\n\nreturn [{\n  json: {\n    date: dateNode.date,\n    startUtc: dateNode.startUtc,\n    endUtc: dateNode.endUtc,\n    attended,\n    no_show,\n    attendance_unknown: unknown\n  }\n}];"}},{"id":"node-get-leads","name":"Get New Leads","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,300],"parameters":{"method":"GET","url":"https://wrsoacujxcskydlzgopa.supabase.co/rest/v1/fightflow_form_submissions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc29hY3VqeGNza3lkbHpnb3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTYwNTIxMSwiZXhwIjoyMDY1MTgxMjExfQ.DfHr_M1BFep1LVWpGSDfpMeb0vXqi17Y_VXoax96CvI"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc29hY3VqeGNza3lkbHpnb3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTYwNTIxMSwiZXhwIjoyMDY1MTgxMjExfQ.DfHr_M1BFep1LVWpGSDfpMeb0vXqi17Y_VXoax96CvI"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"submitted_at","value":"=gte.{{ $json.startUtc }}"},{"name":"submitted_at","value":"=lte.{{ $json.endUtc }}"},{"name":"select","value":"id"}]},"options":{}}},{"id":"node-build-metrics","name":"Build Metrics Array","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,300],"parameters":{"jsCode":"const attendance = $('Count Attendance').first().json;\nconst leadsRows = $input.all();\nconst new_leads = leadsRows.length;\nconst date = attendance.date;\n\nconst metrics = [\n  { system: 'fightflow', metric: 'attended',           date, actual: attendance.attended,            target: null, notes: null },\n  { system: 'fightflow', metric: 'no_show',            date, actual: attendance.no_show,             target: null, notes: null },\n  { system: 'fightflow', metric: 'attendance_unknown', date, actual: attendance.attendance_unknown,   target: null, notes: null },\n  { system: 'fightflow', metric: 'new_leads',          date, actual: new_leads,                      target: 2,    notes: null }\n];\n\nreturn [{ json: { metrics } }];"}},{"id":"node-upsert-metrics","name":"Upsert to daily_metrics","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,300],"parameters":{"method":"POST","url":"https://wrsoacujxcskydlzgopa.supabase.co/rest/v1/daily_metrics?on_conflict=system,metric,date","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc29hY3VqeGNza3lkbHpnb3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTYwNTIxMSwiZXhwIjoyMDY1MTgxMjExfQ.DfHr_M1BFep1LVWpGSDfpMeb0vXqi17Y_VXoax96CvI"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc29hY3VqeGNza3lkbHpnb3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTYwNTIxMSwiZXhwIjoyMDY1MTgxMjExfQ.DfHr_M1BFep1LVWpGSDfpMeb0vXqi17Y_VXoax96CvI"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"resolution=merge-duplicates,return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.metrics) }}","options":{}}},{"id":"node-error-trigger","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[240,520],"parameters":{}},{"id":"node-telegram-alert","name":"Telegram Error Alert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,520],"parameters":{"method":"POST","url":"https://api.telegram.org/bot8426038205:AAFS5_4HTJWmdU_4fwo2uwPAhO06L9riVkg/sendMessage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"chat_id\": 1687128792, \"text\": \"🚨 n8n fightflow-daily error: {{ $json.execution.error.message || 'unknown error' }} (workflow: {{ $json.workflow.name }})\" }","options":{}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get ET Date","type":"main","index":0}]]},"Get ET Date":{"main":[[{"node":"Get Appointments","type":"main","index":0}]]},"Get Appointments":{"main":[[{"node":"Count Attendance","type":"main","index":0}]]},"Count Attendance":{"main":[[{"node":"Get New Leads","type":"main","index":0}]]},"Get New Leads":{"main":[[{"node":"Build Metrics Array","type":"main","index":0}]]},"Build Metrics Array":{"main":[[{"node":"Upsert to daily_metrics","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Telegram Error Alert","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"e01a466a-ebc4-4793-8d64-d440cdb26519","activeVersionId":"e01a466a-ebc4-4793-8d64-d440cdb26519","versionCounter":4,"triggerCount":1,"shared":[{"updatedAt":"2026-03-04T23:29:41.353Z","createdAt":"2026-03-04T23:29:41.353Z","role":"workflow:owner","workflowId":"RWUcQXa9PmVdli6l","projectId":"ORThLukXaeWIsGJ4","project":{"updatedAt":"2026-03-03T23:06:23.898Z","createdAt":"2026-03-03T23:06:18.715Z","id":"ORThLukXaeWIsGJ4","name":"Scott Johnson <scott@sparkwave-ai.com>","type":"personal","icon":null,"description":null,"creatorId":"5a66e50f-b249-45a6-a150-2df29f34ca2e"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-04T23:29:41.380Z","createdAt":"2026-03-04T23:29:41.380Z","versionId":"e01a466a-ebc4-4793-8d64-d440cdb26519","workflowId":"RWUcQXa9PmVdli6l","nodes":[{"id":"node-schedule","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"2 4 * * *"}]}}},{"id":"node-get-date","name":"Get ET Date","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"parameters":{"jsCode":"// DST-safe ET date using Intl.DateTimeFormat\nconst now = new Date();\nconst etDateStr = new Intl.DateTimeFormat('en-CA', {\n  timeZone: 'America/New_York',\n  year: 'numeric', month: '2-digit', day: '2-digit'\n}).format(now);\n\nfunction getETOffset(d) {\n  const s = d.toLocaleString('en-US', { timeZone: 'America/New_York', timeZoneName: 'shortOffset' });\n  const m = s.match(/GMT([+-]\\d+)/);\n  if (!m) return '-05:00';\n  const h = parseInt(m[1]);\n  return (h < 0 ? '-' : '+') + String(Math.abs(h)).padStart(2,'0') + ':00';\n}\n\nconst offset = getETOffset(now);\nconst startUtc = new Date(etDateStr + 'T00:00:00' + offset).toISOString();\nconst endUtc = new Date(new Date(startUtc).getTime() + 86399999).toISOString();\nconst date = etDateStr;\n\nreturn [{ json: { date, startUtc, endUtc } }];"}},{"id":"node-get-appointments","name":"Get Appointments","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300],"parameters":{"method":"GET","url":"https://wrsoacujxcskydlzgopa.supabase.co/rest/v1/fightflow_appointments","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc29hY3VqeGNza3lkbHpnb3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTYwNTIxMSwiZXhwIjoyMDY1MTgxMjExfQ.DfHr_M1BFep1LVWpGSDfpMeb0vXqi17Y_VXoax96CvI"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc29hY3VqeGNza3lkbHpnb3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTYwNTIxMSwiZXhwIjoyMDY1MTgxMjExfQ.DfHr_M1BFep1LVWpGSDfpMeb0vXqi17Y_VXoax96CvI"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"session_start","value":"=gte.{{ $json.startUtc }}"},{"name":"session_start","value":"=lte.{{ $json.endUtc }}"},{"name":"status","value":"eq.confirmed"},{"name":"select","value":"id,status"}]},"options":{}}},{"id":"node-count-attendance","name":"Count Attendance","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300],"parameters":{"jsCode":"// attended column does not exist — use graceful fallback\n// All confirmed appointments count as attendance_unknown\nconst appointments = $input.all();\nconst totalRows = appointments.length;\n\nlet attended = 0;\nlet no_show = 0;\nlet unknown = totalRows;\n\nif (totalRows > 0 && 'attended' in appointments[0].json) {\n  // attended column exists\n  attended = appointments.filter(r => r.json.attended === true).length;\n  no_show = appointments.filter(r => r.json.attended === false).length;\n  unknown = appointments.filter(r => r.json.attended === null || r.json.attended === undefined).length;\n}\n\nconst dateNode = $('Get ET Date').first().json;\n\nreturn [{\n  json: {\n    date: dateNode.date,\n    startUtc: dateNode.startUtc,\n    endUtc: dateNode.endUtc,\n    attended,\n    no_show,\n    attendance_unknown: unknown\n  }\n}];"}},{"id":"node-get-leads","name":"Get New Leads","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,300],"parameters":{"method":"GET","url":"https://wrsoacujxcskydlzgopa.supabase.co/rest/v1/fightflow_form_submissions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc29hY3VqeGNza3lkbHpnb3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTYwNTIxMSwiZXhwIjoyMDY1MTgxMjExfQ.DfHr_M1BFep1LVWpGSDfpMeb0vXqi17Y_VXoax96CvI"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc29hY3VqeGNza3lkbHpnb3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTYwNTIxMSwiZXhwIjoyMDY1MTgxMjExfQ.DfHr_M1BFep1LVWpGSDfpMeb0vXqi17Y_VXoax96CvI"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"submitted_at","value":"=gte.{{ $json.startUtc }}"},{"name":"submitted_at","value":"=lte.{{ $json.endUtc }}"},{"name":"select","value":"id"}]},"options":{}}},{"id":"node-build-metrics","name":"Build Metrics Array","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,300],"parameters":{"jsCode":"const attendance = $('Count Attendance').first().json;\nconst leadsRows = $input.all();\nconst new_leads = leadsRows.length;\nconst date = attendance.date;\n\nconst metrics = [\n  { system: 'fightflow', metric: 'attended',           date, actual: attendance.attended,            target: null, notes: null },\n  { system: 'fightflow', metric: 'no_show',            date, actual: attendance.no_show,             target: null, notes: null },\n  { system: 'fightflow', metric: 'attendance_unknown', date, actual: attendance.attendance_unknown,   target: null, notes: null },\n  { system: 'fightflow', metric: 'new_leads',          date, actual: new_leads,                      target: 2,    notes: null }\n];\n\nreturn [{ json: { metrics } }];"}},{"id":"node-upsert-metrics","name":"Upsert to daily_metrics","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,300],"parameters":{"method":"POST","url":"https://wrsoacujxcskydlzgopa.supabase.co/rest/v1/daily_metrics?on_conflict=system,metric,date","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc29hY3VqeGNza3lkbHpnb3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTYwNTIxMSwiZXhwIjoyMDY1MTgxMjExfQ.DfHr_M1BFep1LVWpGSDfpMeb0vXqi17Y_VXoax96CvI"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc29hY3VqeGNza3lkbHpnb3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTYwNTIxMSwiZXhwIjoyMDY1MTgxMjExfQ.DfHr_M1BFep1LVWpGSDfpMeb0vXqi17Y_VXoax96CvI"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"resolution=merge-duplicates,return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.metrics) }}","options":{}}},{"id":"node-error-trigger","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[240,520],"parameters":{}},{"id":"node-telegram-alert","name":"Telegram Error Alert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,520],"parameters":{"method":"POST","url":"https://api.telegram.org/bot8426038205:AAFS5_4HTJWmdU_4fwo2uwPAhO06L9riVkg/sendMessage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"chat_id\": 1687128792, \"text\": \"🚨 n8n fightflow-daily error: {{ $json.execution.error.message || 'unknown error' }} (workflow: {{ $json.workflow.name }})\" }","options":{}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get ET Date","type":"main","index":0}]]},"Get ET Date":{"main":[[{"node":"Get Appointments","type":"main","index":0}]]},"Get Appointments":{"main":[[{"node":"Count Attendance","type":"main","index":0}]]},"Count Attendance":{"main":[[{"node":"Get New Leads","type":"main","index":0}]]},"Get New Leads":{"main":[[{"node":"Build Metrics Array","type":"main","index":0}]]},"Build Metrics Array":{"main":[[{"node":"Upsert to daily_metrics","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Telegram Error Alert","type":"main","index":0}]]}},"authors":"Scott Johnson","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-04T23:29:50.532Z","id":14,"workflowId":"RWUcQXa9PmVdli6l","versionId":"e01a466a-ebc4-4793-8d64-d440cdb26519","event":"activated","userId":"5a66e50f-b249-45a6-a150-2df29f34ca2e"}]}}